body{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9%;
  background-color: rgb(9, 2, 15);
}
h1{
  background-color: blue;
  color: bisque;
  border-radius: 40%;
  font-size: 100%;
  font-family: 'Arial';
}
p{
  color:cornsilk;
}
